# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/build/*

# Misc
/.vscode/*
*.pyc

# Ignore correlation package build things
nnet_training/correlation_package/build/*
nnet_training/correlation_package/*.egg-info/*
nnet_training/correlation_package/dist/*

# Models, Configs and statistics
nnet_training/torch_models/*